@font-face {
    font-family: DynaPuff;
    src: url(mis\ font-family/DynaPuff/DynaPuff-VariableFont_wdth,wght.ttf);
}

#h1 {
    
    background-color: blue;
    color: gold;
    padding: 10px;
    font-family: DynaPuff;
    text-align: center;
    font-size: 70px;
    border: solid 3px gold;
}

#h2 {
    background-color: blue;
    color: gold;
    padding: 10px;
    font-family: DynaPuff;
    text-align: center;
    font-size: 25px;
    border: solid 3px gold;
}

#p {
    font: oblique bold 120% cursive;
    color: gold;
    background-color: green;
    border: solid 5px goldñ;
}

a {
    font-size: 18px;
    color: red;
    background-color: blue;
    font: oblique bold 120% cursive;
}

#descripcion {
    border: 13px solid green;
    padding: 15px;

}

#tuputamadre {
    background-color: green;
}

#ppp {
    background-color: green;
}
#descripcion .prubas{
    background-color: green;

}
#prubas{
    width: 500px;
    display: block;
    margin: auto;
    background-color: white;
}
img {
    display:block;
    margin:auto;
    border: solid 5px gold;
    } 
    #13{
        padding:10px;
    }