@font-face {
    font-family:DynaPuff-VariableFont;

    src: url(mis_font-family/DynaPuff/DynaPuff-VariableFont_wdth\,wght.ttf);
}
#cabeza{
    font-family:DynaPuff-VariableFont;
    color: brown;
    background: #444;
    text-align: center;
    image-rendering: auto;
}
#tabla{
    color: rgb(207, 219, 194);
    font-family:DynaPuff-VariableFont;
    background: #444;


}

#info{
    text-align: center;
    table-layout: auto;
     text-align: center;

}
h1{
    font-family:DynaPuff-VariableFont;
    text-align: center;
    padding: auto;
    background: #444;
    color: rgb(181, 11, 17);
}

